<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title>
  </title>
  <!--[if !mso]><!-- -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    #outlook a {
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    table,
    td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    p {
      display: block;
      margin: 13px 0;
    }
  </style>
  <!--[if mso]>
        <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
        </xml>
        <![endif]-->
  <!--[if lte mso 11]>
        <style type="text/css">
          .mj-outlook-group-fix { width:100% !important; }
        </style>
        <![endif]-->
  <!--[if !mso]><!-->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
  </style>
  <!--<![endif]-->
  <style type="text/css">
    @media only screen and (min-width:480px) {
      .mj-column-per-100 {
        width: 100% !important;
        max-width: 100%;
      }

      .mj-column-px-300 {
        width: 300px !important;
        max-width: 300px;
      }

      .mj-column-px-344 {
        width: 344px !important;
        max-width: 344px;
      }

      .mj-column-px-154 {
        width: 154px !important;
        max-width: 154px;
      }

      .mj-column-px-340 {
        width: 340px !important;
        max-width: 340px;
      }

      .mj-column-px-160 {
        width: 160px !important;
        max-width: 160px;
      }
    }
  </style>
  <style type="text/css">
    @media only screen and (max-width:480px) {
      table.mj-full-width-mobile {
        width: 100% !important;
      }

      td.mj-full-width-mobile {
        width: auto !important;
      }
    }
  </style>
</head>

<body>
  <div style="background-color:#E8EAEC;">
    <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:640px;" width="640"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:640px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:0;text-align:center;">
              <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:640px;"
            >
          <![endif]-->
              <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tbody>
                    <tr>
                      <td style="vertical-align:top;padding:0;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                          <tr>
                            <td align="center" style="font-size:0px;padding:22px 20px 10px 20px;word-break:break-word;">
                              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                                <tbody>
                                  <tr>
                                    <td style="width:80px;">
                                      <a href="{{ site_url }}/" target="_blank">
                                        <img alt="" height="auto" src="{{ site_url }}/images/email/logo.{{ theme }}.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="80" />
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]>
          </td>
        </tr>
      </table>

    {%- if conf.show_hero -%}
      <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:640px;" width="640">
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:640px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:0px 20px;text-align:center;">
              <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
          <![endif]-->
              <div style="">
                <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      
        <v:rect  style="width:600px;" xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false">
        <v:fill  origin="0.5, 0" position="0.5, 0" src="{{ site_url }}/images/email/bnr_bg.{{ theme }}.jpg" type="tile" />
        <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
      <![endif]-->
                <div style="background:url({{ site_url }}/images/email/bnr_bg.{{ theme }}.jpg) top center / cover no-repeat;margin:0px auto;max-width:600px;">
                  <div style="line-height:0;font-size:0;">
                    <table align="center" background="{{ site_url }}/images/email/bnr_bg.{{ theme }}.jpg" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:url({{ site_url }}/images/email/bnr_bg.{{ theme }}.jpg) top center / cover no-repeat;width:100%;">
                      <tbody>
                        <tr>
                          <td style="direction:ltr;font-size:0px;padding:0;text-align:center;">
                            <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:300px;"
            >
          <![endif]-->
                            <div class="mj-column-px-300 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                <tbody>
                                  <tr>
                                    <td style="vertical-align:top;padding:0;">
                                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                        <tr>
                                          <td style="font-size:0px;padding:0;word-break:break-word;">
                                            <div style="">
                                              <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
                                              <div style="margin:0px auto;max-width:600px;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                                                  <tbody>
                                                    <tr>
                                                      <td style="direction:ltr;font-size:0px;padding:20px 30px;text-align:left;">
                                                        <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:540px;"
            >
          <![endif]-->
                                                        <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                            <tbody>
                                                              <tr>
                                                                <td style="vertical-align:top;padding:0;">
                                                                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                                                    {%- if conf.hero_title -%}
                                                                    <tr>
                                                                      <td align="left" style="font-size:0px;padding:10px 0;word-break:break-word;">
                                                                        <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:21px;font-weight:bold;line-height:26px;text-align:left;text-transform:uppercase;color:#FFFFFF;">{{ conf.hero_title }}</div>
                                                                      </td>
                                                                    </tr>
                                                                    {%- endif -%}
                                                                    {%- if conf.hero_content -%}
                                                                    <tr>
                                                                      <td align="left" style="font-size:0px;padding:0 0 26px 0;word-break:break-word;">
                                                                        <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:14px;font-weight:500;line-height:18px;text-align:left;color:#E8EAEC;">{{ conf.hero_content }}</div>
                                                                      </td>
                                                                    </tr>
                                                                    {%- endif -%}
                                                                    {%- if conf.hero_url -%}
                                                                    <tr>
                                                                      <td align="left" vertical-align="middle" style="font-size:0px;padding:0px;word-break:break-word;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                                                                          <tr>
                                                                            <td align="center" bgcolor="transparent" role="presentation" style="border:none;border-radius:3px;cursor:auto;mso-padding-alt:0;background:transparent;" valign="middle">
                                                                              <a href="{{ conf.hero_url }}" style="display:inline-block;background:transparent;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:0;mso-padding-alt:0px;border-radius:3px;" target="_blank"> {{ ugettext('Подробнее') }} <img src="{{ site_url }}/images/email/arrow_right.png" style="display: inline; vertical-align: middle; margin-left: 20px;" alt="">
                                                                              </a>
                                                                            </td>
                                                                          </tr>
                                                                        </table>
                                                                      </td>
                                                                    </tr>
                                                                    {%- endif -%}
                                                                  </table>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </div>
                                                        <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                              <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
                                            </div>
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <!--[if mso | IE]>
            </td>
          
            <td
               class="" style="vertical-align:top;width:300px;"
            >
          <![endif]-->
                            <div class="mj-column-px-300 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                <tbody>
                                  <tr>
                                    <td style="vertical-align:top;padding:0;">
                                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                        <tr>
                                          <td style="font-size:0px;padding:0;word-break:break-word;">
                                            <div style="">
                                              <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      
        <v:rect  style="width:600px;" xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false">
        {%- if conf.hero_image -%}
        <v:fill  origin="0.5, 0" position="0.5, 0" src="{{ site_url }}{{ conf.hero_image.url }}" type="tile" />
        {%- endif -%}
        <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
      <![endif]-->
                                              <div style="background:url({{ site_url }}/images/email/partner_program.jpg) top center / cover no-repeat;margin:0px auto;max-width:600px;">
                                                <div style="line-height:0;font-size:0;">
                                                  <table align="center"{% if conf.hero_image %} background="{{ site_url }}{{ conf.hero_image.url }}"{% endif %} border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                         {% if conf.hero_image %} style="background:url({{ site_url }}{{ conf.hero_image.url }}) top center / cover no-repeat;{% endif %}width:100%;">
                                                    <tbody>
                                                      <tr>
                                                        <td style="direction:ltr;font-size:0px;padding:0;text-align:center;">
                                                          <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:600px;"
            >
          <![endif]-->
                                                          <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                              <tbody>
                                                                <tr>
                                                                  <td style="vertical-align:top;padding:0;">
                                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                                                      <tr>
                                                                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                                          <!--[if mso | IE]>
    
          <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td height="200px" style="vertical-align:top;height:200px;">
        
    <![endif]-->
                                                                          <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;height:200px;"></div>
                                                                          <!--[if mso | IE]>
    
          </td></tr></table>
        
    <![endif]-->
                                                                        </td>
                                                                      </tr>
                                                                    </table>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </div>
                                                          <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </div>
                                              <!--[if mso | IE]>
        </v:textbox>
      </v:rect>
    
          </td>
        </tr>
      </table>
      <![endif]-->
                                            </div>
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--[if mso | IE]>
        </v:textbox>
      </v:rect>
    
          </td>
        </tr>
      </table>
      <![endif]-->
              </div>
              <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]>
          </td>
        </tr>
      </table>
    {%- endif -%}
      
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:640px;" width="640"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:640px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:40px 20px;text-align:center;">
              <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="vertical-align:top;width:600px;">
          <![endif]-->
              <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tbody>
                    <tr>
                      <td style="vertical-align:top;padding:0;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                          {%- if conf.greeting and obj.name -%}
                          <tr>
                            <td align="left" style="font-size:0px;padding:0;word-break:break-word;">
                              <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:22px;font-weight:bold;line-height:100%;text-align:left;color:#344156;">
                                <p>{{ conf.greeting }} {{ obj.name or '' }}</p>
                              </div>
                            </td>
                          </tr>
                          {%- endif -%}
                          {%- if conf.content -%}
                          <tr>
                            <td align="left" style="font-size:0px;padding:0;word-break:break-word;">
                              <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:16px;line-height:24px;text-align:left;color:#344156;">
                                {{- conf.content -}}
                              </div>
                            </td>
                          </tr>
                          {%- endif -%}
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]>
          </td>
        </tr>
      </table>

    {%- if conf.show_referrals -%}
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:640px;" width="640"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    <div style="background:#F8F9F9;background-color:#F8F9F9;margin:0px auto;max-width:640px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#F8F9F9;background-color:#F8F9F9;width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:40px 20px 20px 20px;text-align:center;">
              <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:600px;"
            >
          <![endif]-->
              <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tbody>
                    <tr>
                      <td style="vertical-align:top;padding:0;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                          {%- if conf.referral_title -%}
                          <tr>
                            <td align="left" style="font-size:0px;padding:0 0 30px 0;word-break:break-word;">
                              <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:22px;font-weight:bold;line-height:100%;text-align:left;color:#344156;">{{ conf.referral_title }}</div>
                            </td>
                          </tr>
                          {%- endif -%}
                          <tr>
                            <td style="font-size:0px;padding:0;word-break:break-word;">
                              <div style="">
                                <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
                                <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;">
                                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
                                    <tbody>
                                      <tr>
                                        <td style="border:1px solid #D2D5D9;direction:ltr;font-size:0px;padding:0;text-align:center;">
                                          <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:598px;"
            >
          <![endif]-->
                                          <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td style="vertical-align:top;padding:20px;">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                                      <tr>
                                                        <td align="center" style="font-size:0px;padding:0;word-break:break-word;">
                                                          <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:14px;line-height:16px;text-align:center;text-transform:uppercase;color:#1D2C43;">{{ site_url }}/brokers?r={{ obj.user.referral_code }}</div>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          <!--[if mso | IE]>
            </td>
        </tr>
                  </table>
                <![endif]-->
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <!--[if mso | IE]>
          </td>
        </tr>
      </table>

    {%- if conf.referral_link_button -%}
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
                                <div style="margin:0px auto;max-width:600px;">
                                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                                    <tbody>
                                      <tr>
                                        <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
                                          <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:300px;"
            >
          <![endif]-->
                                          <div class="mj-column-px-300 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td style="vertical-align:top;padding:0;">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                                      <tr>
                                                        <td align="center" vertical-align="middle" style="font-size:0px;padding:0;word-break:break-word;">
                                                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;width:290px;line-height:100%;">
                                                            <tr>
                                                              <td align="center" bgcolor="#{% if theme == 'jetunity' %}C0A999{% else %}2d74b6{% endif %}" role="presentation" style="border:none;border-radius:0;cursor:auto;mso-padding-alt:20px 10px;background:#{% if theme == 'jetunity' %}C0A999{% else %}2d74b6{% endif %};" valign="middle">
                                                                <a href="{{ site_url }}?r={{ obj.user.referral_code }}" style="display:inline-block;width:270px;background:#{% if theme == 'jetunity' %}C0A999{% else %}2d74b6{% endif %};color:#ffffff;font-family:Arial, Helvetica Neue, Ubuntu;font-size:14px;font-weight:normal;line-height:16px;margin:0;text-decoration:none;text-transform:uppercase;padding:20px 10px;mso-padding-alt:0px;border-radius:0;" target="_blank"> {{ conf.referral_link_button }} </a>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          <!--[if mso | IE]>
            </td>
        </tr>
      
                  </table>
                <![endif]-->
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
      {%- endif -%}
                              </div>
                            </td>
                          </tr>
                          {%- if conf.referral_content %}
                          <tr>
                            <td align="left" style="font-size:0px;padding:0;word-break:break-word;">
                              <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:16px;line-height:24px;text-align:left;color:#344156;">
                                {{- conf.referral_content -}}
                              </div>
                            </td>
                          </tr>
                          {%- endif -%}
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]>
            </td>
        </tr>
                  </table>
                <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      {%- endif -%}

    {%- if conf.show_contacts -%}
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:640px;" width="640"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">

        <v:rect  style="width:640px;" xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false">
        {%- if conf.contacts_image -%}
        <v:fill  origin="0.5, 0" position="0.5, 0" src="{{ site_url }}{{ conf.contacts_image.url }}" color="#ffffff" type="tile" />
        {%- endif -%}
        <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
      <![endif]-->

    <div style="{% if conf.contacts_image %}background:#ffffff url({{ site_url }}{{ conf.contacts_image.url }}) top center / auto no-repeat;{% endif %}margin:0px auto;max-width:640px;">
      <div style="line-height:0;font-size:0;">
        <table align="center"{% if conf.contacts_image %} background="{{ site_url }}{{ conf.contacts_image.url }}"{% endif %} border="0" cellpadding="0" cellspacing="0" role="presentation"
               style="{% if conf.contacts_image %}background:#ffffff url({{ site_url }}{{ conf.contacts_image.url }}) top center / auto no-repeat;{% endif %}width:100%;">
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:0 20px;text-align:left;">
                <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

        <tr>
            <td style="vertical-align:top;width:344px;"
            >
          <![endif]-->
                <div class="mj-column-px-344 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;padding:0;">
                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                            {%- if conf.contacts_title -%}
                            <tr>
                              <td align="left" style="font-size:0px;padding:52px 0 19px 0;word-break:break-word;">
                                <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:22px;font-weight:bold;line-height:100%;text-align:left;color:#1D2C43;">{{ conf.contacts_title }}</div>
                              </td>
                            </tr>
                            {%- endif -%}
                            {%- if conf.contacts_content -%}
                            <tr>
                              <td align="left" style="font-size:0px;padding:0 0 30px 0;word-break:break-word;">
                                <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:16px;line-height:22px;text-align:left;color:#344156;">{{ conf.contacts_content }}</div>
                              </td>
                            </tr>
                            {%- endif -%}
                            <tr>
                              <td align="left" style="font-size:0px;padding:0 0 52px 0;word-break:break-word;">
                                <div style="">
                                  <!--[if mso | IE]>
      <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px;" width="600">
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
                                  <div style="margin:0px auto;max-width:600px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                                      <tbody>
                                        <tr>
                                          <td style="direction:ltr;font-size:0px;padding:0;text-align:left;">
                                            <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            {%- if conf.contacts_phone_1 -%}
            <td style="vertical-align:top;width:154px;">
          <![endif]-->
                                            <div class="mj-column-px-154 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                <tbody>
                                                  <tr>
                                                    <td style="vertical-align:top;padding:0 10px 0 0;">
                                                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                                        <tr>
                                                          <td align="left" style="font-size:0px;padding:0;word-break:break-word;">
                                                            <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:16px;font-weight:bold;line-height:22px;text-align:left;color:#{% if theme == 'jetunity' %}B79985{% else %}2d74b6{% endif %};">{{ conf.contacts_phone_1 }}</div>
                                                          </td>
                                                        </tr>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                            <!--[if mso | IE]>
            </td>
            {%- endif -%}
            {%- if conf.contacts_phone_2 -%}
            <td style="vertical-align:top;width:154px;">
          <![endif]-->
                                            <div class="mj-column-px-154 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                <tbody>
                                                  <tr>
                                                    <td style="vertical-align:top;padding:0 10px 0 0;">
                                                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                                        <tr>
                                                          <td align="left" style="font-size:0px;padding:0;word-break:break-word;">
                                                            <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:16px;font-weight:bold;line-height:22px;text-align:left;color:#{% if theme == 'jetunity' %}B79985{% else %}2d74b6{% endif %};">{{ conf.contacts_phone_2 }}</div>
                                                          </td>
                                                        </tr>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                            <!--[if mso | IE]>
            </td>
            {%- endif -%}
        </tr>
                  </table>
                <![endif]-->
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--[if mso | IE]>
            </td>

        </tr>

                  </table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--[if mso | IE]>
        </v:textbox>
      </v:rect>

          </td>
        </tr>
      </table>
    {%- endif -%}

    {%- if conf.show_app -%}
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:640px;" width="640"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:640px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:0;text-align:center;">
              <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="vertical-align:top;width:300px;">
          <![endif]-->
              <div class="mj-column-px-300 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tbody>
                    <tr>
                      <td style="vertical-align:top;padding:0;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                          <tr>
                            <td style="font-size:0px;padding:0;word-break:break-word;">
                              <div style="">
                                <!--[if mso | IE]>
        <table
           align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:600px;" width="600"
        >
          <tr>
            <td  style="line-height:0;font-size:0;mso-line-height-rule:exactly;">
              {%- if conf.app_image -%}
              <v:image
                 style="border:0;height:260px;mso-position-horizontal:center;position:absolute;top:0;width:640px;z-index:-3;"
                 src="{{ site_url }}{{ conf.app_image.url }}" xmlns:v="urn:schemas-microsoft-com:vml"
              />
              {%- endif -%}
      <![endif]-->
                                <div style="margin:0 auto;max-width:600px;">
                                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                                    <tr style="vertical-align:top;">
                                      <td{% if conf.app_image %} background="{{ site_url }}{{ conf.app_image.url }}"{% endif %}
                                          style="{% if conf.app_image %}background:#ffffff url({{ site_url }}{{ conf.app_image.url }}) no-repeat left / cover;background-position:left;background-repeat:no-repeat;{% endif %}padding:0;vertical-align:top;" height="0">
                                        <!--[if mso | IE]>
        <table
           border="0" cellpadding="0" cellspacing="0" style="width:600px;" width="600"
        >
          <tr>
            <td  style="">
      <![endif]-->
                                        <div class="mj-hero-content" style="margin:0px auto;">
                                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;margin:0px;">
                                            <tr>
                                              <td style="">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;margin:0px;">
                                                  <tr>
                                                    <td style="font-size:0px;word-break:break-word;">
                                                      <!--[if mso | IE]>

        <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td height="260" style="vertical-align:top;height:260px;">

    <![endif]-->
                                                      <div style="height:260px;"> &nbsp; </div>
                                                      <!--[if mso | IE]>

        </td></tr></table>

    <![endif]-->
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </div>
                                        <!--[if mso | IE]>
            </td>
          </tr>
        </table>
      <![endif]-->
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                                <!--[if mso | IE]>
          </td>
        </tr>
      </table>
    <![endif]-->
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]>
            </td>

            <td
               class="" style="vertical-align:top;width:340px;"
            >
          <![endif]-->
              <div class="mj-column-px-340 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tbody>
                    <tr>
                      <td style="vertical-align:top;padding:32px 20px 0 0;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                          {%- if conf.app_title -%}
                          <tr>
                            <td align="right" style="font-size:0px;padding:0 0 34px 0;word-break:break-word;">
                              <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:26px;font-weight:bold;line-height:38px;text-align:right;text-transform:uppercase;color:#1D2C43;">{{ conf.app_title }}</div>
                            </td>
                          </tr>
                          {%- endif -%}
                          <tr>
                            <td align="right" style="font-size:0px;padding:0 0 20px 0;word-break:break-word;">
                              <div style="">
                                <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
                                <div style="margin:0px auto;max-width:600px;">
                                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                                    <tbody>
                                      <tr>
                                        <td style="direction:ltr;font-size:0px;padding:0;text-align:right;">
                                          <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            {%- if conf.app_apple_appstore_link -%}
            <td style="vertical-align:top;width:154px;">
          <![endif]-->
                                          <div class="mj-column-px-154 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td style="vertical-align:top;padding:0 0 10px 20px;">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                                      <tr>
                                                        <td align="center" style="font-size:0px;padding:0;word-break:break-word;">
                                                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                                                            <tbody>
                                                              <tr>
                                                                <td style="width:134px;">
                                                                  <a href="{{ conf.app_apple_appstore_link }}" target="_blank">
                                                                    <img alt="" height="auto" src="{{ site_url }}/images/email/appstore.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="134" />
                                                                  </a>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          <!--[if mso | IE]>
            </td>
          {%- endif -%}
          {%- if conf.app_google_play_link -%}
            <td
               class="" style="vertical-align:top;width:154px;"
            >
          <![endif]-->
                                          <div class="mj-column-px-154 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td style="vertical-align:top;padding:0 0 10px 20px;">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                                      <tr>
                                                        <td align="center" style="font-size:0px;padding:0;word-break:break-word;">
                                                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                                                            <tbody>
                                                              <tr>
                                                                <td style="width:134px;">
                                                                  <a href="{{ conf.app_google_play_link }}" target="_blank">
                                                                    <img alt="" height="auto" src="{{ site_url }}/images/email/google_play.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="134" />
                                                                  </a>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          <!--[if mso | IE]>
            </td>
            {%- endif -%}
        </tr>

                  </table>
                <![endif]-->
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]>
            </td>

        </tr>

                  </table>
                <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]>
          </td>
        </tr>
      </table>
    {%- endif -%}

    {%- if conf.show_socials or conf.show_bottom_menu -%}
    {%- set social_items = menu_items('SOCIALS_MENU') -%}
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:640px;" width="640"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    <div style="background:#1D2C43;background-color:#1D2C43;margin:0px auto;max-width:640px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#1D2C43;background-color:#1D2C43;width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:50px 0 18px 0;text-align:center;">
              <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

        <tr>

            <td
               class="" style="vertical-align:top;width:640px;"
            >
          <![endif]-->
              <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tbody>
                    <tr>
                      <td style="vertical-align:top;padding:0;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                          {%- if conf.show_socials and social_items -%}
                          {%- if conf.socials_title -%}
                          <tr>
                            <td align="center" style="font-size:0px;padding:0 20px 26px 20px;word-break:break-word;">
                              <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:20px;font-weight:bold;line-height:24px;text-align:center;text-transform:uppercase;color:#ffffff;">{{ conf.socials_title }}</div>
                            </td>
                          </tr>
                          {%- endif -%}
                          <tr>
                            <td style="font-size:0px;padding:0;word-break:break-word;">
                              <div style="">
                                <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:342px;" width="342"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
                                <div style="margin:0px auto;max-width:342px;">
                                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                                    <tbody>
                                      <tr>
                                        <td style="direction:ltr;font-size:0px;padding:0 0 52px 0;text-align:center;">
                                          <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

        <tr>

            <td
               class="" style="vertical-align:top;width:342px;"
            >
          <![endif]-->
                                          <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td style="vertical-align:top;padding:0;">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                                      <tr>
                                                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;text-align:center">
                                                          <table cellpadding="0" cellspacing="0" width="130px" border="0" style="color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;table-layout:auto;width:130px;margin:0 auto;border:none;">
                                                            <tr>
                                                              {%- for item in social_items -%}
                                                              <td style="padding: 0" width="44px">
                                                                <a href="{{ item.url }}" target="_blank">
                                                                  <img src="{{ site_url }}/images/email/
                                                                    {%- if item.class_name == 'vk' %}vk
                                                                    {%- elif item.class_name == 'instagram' %}inst
                                                                    {%- elif item.class_name == 'odnoklassniki' %}ok
                                                                    {%- elif item.class_name == 'facebook' %}fb
                                                                    {%- elif item.class_name == 'youtube-play' %}yt{% endif -%}
                                                                    _soc.png" width="44px" alt="
                                                                    {%- if item.class_name == 'vk' %}Vk
                                                                    {%- elif item.class_name == 'instagram' %}Instagram
                                                                    {%- elif item.class_name == 'odnoklassniki' %}Odnoklassniki
                                                                    {%- elif item.class_name == 'facebook' %}Facebook
                                                                    {%- elif item.class_name == 'youtube-play' %}YouTube{% endif -%}" />
                                                                </a>
                                                              </td>
                                                              {%- endfor -%}
                                                            <tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          <!--[if mso | IE]>
            </td>
        </tr>
                  </table>
                <![endif]-->
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
                              </div>
                            </td>
                          </tr>
                          {%- endif -%}
                          {%- if conf.show_bottom_menu and conf.bottom_menu_id -%}
                          {%- set bottom_menu_items = conf.bottom_menu.items.published() -%}
                          <tr>
                            <td style="font-size:0px;padding:0;word-break:break-word;">
                              <div style="">
                                <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:640px;" width="640"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
                                <div style="margin:0px auto;max-width:640px;">
                                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                                    <tbody>
                                      <tr>
                                        <td style="direction:ltr;font-size:0px;padding:0;text-align:center;">
                                          <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

        <tr>

            {%- for item in bottom_menu_items -%}
            <td style="vertical-align:top;width:160px;">
          <![endif]-->
                                          <div class="mj-column-px-160 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td style="vertical-align:top;padding:0;">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                                      <tr>
                                                        <td align="center" vertical-align="middle" style="font-size:0px;padding:0;word-break:break-word;">
                                                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;width:160px;line-height:100%;">
                                                            <tr>
                                                              <td align="center" role="presentation" style="border:none;cursor:auto;mso-padding-alt:13px;" valign="middle">
                                                                <a href="{{ item.url }}" style="display:inline-block;width:133px;color:#E8EAEC;font-family:Arial, Helvetica Neue, Ubuntu;font-size:16px;font-weight:normal;line-height:100%;margin:0;text-decoration:none;text-transform:none;padding:13px;mso-padding-alt:0px;border-radius:0;" target="_blank"> {{ item.title or '' }} </a>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          <!--[if mso | IE]>
            </td>
            {%- endfor -%}
        </tr>
                  </table>
                <![endif]-->
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
                              </div>
                            </td>
                          </tr>
                          {%- endif %}
                          {%- if conf.copyrights -%}
                          <tr>
                            <td align="center" style="font-size:0px;padding:14px 0 0 0;word-break:break-word;">
                              <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:14px;line-height:18px;text-align:center;color:rgba(255,255,255, 0.7);">{{ conf.copyrights }}</div>
                            </td>
                          </tr>
                          {%- endif -%}
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]>
            </td>
        </tr>
                  </table>
                <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]>
          </td>
        </tr>
      </table>
  {%- endif -%}
{#      <table#}
{#         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:640px;" width="640"#}
{#      >#}
{#        <tr>#}
{#          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">#}
{#      <![endif]-->#}
{#    <div style="margin:0px auto;max-width:640px;">#}
{#      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">#}
{#        <tbody>#}
{#          <tr>#}
{#            <td style="direction:ltr;font-size:0px;padding:20px 20px 53px 20px;text-align:center;">#}
{#              <!--[if mso | IE]>#}
{#                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">#}
{#                #}
{#        <tr>#}
{#      #}
{#            <td#}
{#               class="" style="vertical-align:top;width:600px;"#}
{#            >#}
{#          <![endif]-->#}
{#              <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">#}
{#                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">#}
{#                  <tbody>#}
{#                    <tr>#}
{#                      <td style="vertical-align:top;padding:0;">#}
{#                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">#}
{#                          <tr>#}
{#                            <td align="center" style="font-size:0px;padding:0;word-break:break-word;">#}
{#                              <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:14px;line-height:20px;text-align:center;color:#A5ABB4;">Вы получили это письмо, так как являетесь клиентом компании <span style="color: #A5ABB4">JetUnity</span></div>#}
{#                            </td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td style="font-size:0px;word-break:break-word;">#}
{#                              <!--[if mso | IE]>#}
{#    #}
{#        <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td height="0" style="vertical-align:top;height:0;">#}
{#      #}
{#    <![endif]-->#}
{#                              <div style="height:0;"> &nbsp; </div>#}
{#                              <!--[if mso | IE]>#}
{#    #}
{#        </td></tr></table>#}
{#      #}
{#    <![endif]-->#}
{#                            </td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td align="center" style="font-size:0px;padding:0;word-break:break-word;">#}
{#                              <div style="font-family:Arial, Helvetica Neue, Ubuntu;font-size:14px;line-height:20px;text-align:center;color:#A5ABB4;">Чтобы настроить подписку или отписаться, пройдите по <a href="#" style="color: #A5ABB4">ссылке</a></div>#}
{#                            </td>#}
{#                          </tr>#}
{#                        </table>#}
{#                      </td>#}
{#                    </tr>#}
{#                  </tbody>#}
{#                </table>#}
{#              </div>#}
{#              <!--[if mso | IE]>#}
{#            </td>#}
{#          #}
{#        </tr>#}
{#      #}
{#                  </table>#}
{#                <![endif]-->#}
{#            </td>#}
{#          </tr>#}
{#        </tbody>#}
{#      </table>#}
{#    </div>#}
{#    <!--[if mso | IE]>#}
{#          </td>#}
{#        </tr>#}
{#      </table>#}
{#      <![endif]-->#}
  </div>
</body>

</html>
